// .weather-info {
//   margin: auto 200px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   h3 {
//     color: red;
//   }
// }

.weather-info {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
  h3 {
    color: red;
  }
}
