@import "./search";
@import "./weather-info";

.app {
  background-image: url("../vaccine-6181858.jpg");
  background-size: cover;
}

footer {
  background-image: url("../vaccine-6181858.jpg");
  background-size: cover;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 10px;
  text-align: center;
  height: 120px;
  font-family: "Original Surfer", cursive;
  padding: 0px;
  font-size: 30px;
  padding-bottom: 30px;
}

.contact {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 43%;
  margin-top: 0px;
  padding-top: 0px;
}

.contact li {
  margin: 10px;
  margin-top: 0px;
  padding-top: 0px;
}

.filter-container {
  margin: auto;
  margin-top: 10px;
  height: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(69, 123, 223);
  box-shadow: 2px 5px #888888;
  h3 {
    margin-right: 20px;
  }
}

.filters {
  label {
    padding: 10px;
  }
  select {
    cursor: pointer;
  }
}

.date-input {
  border: 2px solid red;
  color: red;
}

.schedule-button {
  margin: auto;
  margin-left: 100px;
  button {
    display: inline-block;
    border-radius: 25em;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.3em 1.2em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 5px rgb(243, 121, 64);
  }
}

.schedule-button button:hover {
  background-color: #453add; /* Green */
  color: white;
}
